.window-info {
    font-size: 0.8em;
    color: #666;
}

.header {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.img-size img {
    width: 24px;
    height: 24px;
}

.logger {
    margin: 12px;

}

.text {
    display: flex;
    justify-content: center;
}

/* Default light theme */
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    padding: 6px;

}

button {
    margin: 4px;
    padding: 5px 10px;
    cursor: pointer;
    color: #333;
    
}

#log .log-entry {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

/* Dark theme */
body.dark-theme {
    background-color: #333;
    color: white;
}

body.dark-theme #log .log-entry {
    border-bottom: 1px solid #555;
}

body.dark-theme .window-info {
    color: #aaa;
}

body.dark-theme button {
    background-color: #555;
    color: white;
    border: 1px solid #777;
    
}

body.dark-theme button:hover {
    background-color: #9d9d9d;
}
